<h2>Crear Producto</h2>

<form action="" id="newProduct">
  <label for="">Nombre del producto</label>
  <input type="text" name="title">

  <label for="" id="">Precio</label>
  <input type="number" name="price">

  <button type="submit">Crear Producto</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/newProduct.js"></script>